@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

:root {
  --black: #101010;
  --white: #FEFEFE;
  --primary: #00AAC8;
}

body {
  background-color: var(--white);
  color: var(--black);
}

svg {
  display: block;
  color: var(--primary);
}

input {
  outline: none;
  padding: .5em;
  color: gray;
  border-radius: 4px;
  border: solid 1px var(--primary);
}

button {
  outline: none;
  padding: .5em;
  color: var(--primary);
  cursor: pointer;
  border-radius: 4px;
  border: solid 1px var(--primary);
  background-color: var(--white);
  transition-duration: 200ms;
}

button:focus, button:hover {
  background-color: var(--primary);
  color: var(--white);
  transition-duration: 200ms;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  border-bottom: 1px solid #aaa;
}

.note-app__header span {
  display: flex;
  align-items: center;
  gap: .5em;
}

.note-app__header h1 {
  font-size: 1.2em;
}